.own-message {
  width: auto;
  max-width: 70%;
  margin: 20px 0 0 auto;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
}
.message-controls {
  margin-top: 10px;
  font-size: 20px;
}
.message-edit {
  margin-right: 20px;
}
.message-delete{
  color: red;
}