.edit-message-page {
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
.edit-message-body {
  padding: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  outline: none;
}

.edit-message-title {
  margin:20px;
  text-align: center;
  font-size: 30px;
}

.edit-message-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.edit-message-input {
  width: 100%;
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 15px;
}

.edit-message-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.edit-message-button {
  margin-right: 20px;
}
.edit-message-button,
.edit-message-close {
  background-color: darkgray;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}