.message-input {
  margin: 10px;
  background-color: silver;
}
.message-input-text {
  height: 40px;
  width: 400px;
  padding: 15px;
  font-size: 18px;
  margin: 20px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
}
.message-input-button {
  height: 40px;
  
  font-size: 20px;
}