.messages-divider {
  position: relative;
  margin-top: 20px;
  border-top: 3px dashed blue;
}
.messages-divider-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 180, 142);
  padding: 5px;
  border-radius: 5px;
}